{% extends 'base.html' %}
{% load static %}

{% block title %} Contact {% endblock %}

{% block active_contact %} class='active' {% endblock %}

{% block content %}

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="mu-page-breadcrumb-area">
         <h2>Contact</h2>
         <ol class="breadcrumb">
          <li><a href="#">Home</a></li>            
          <li class="active">Contact</li>
        </ol>
       </div>
     </div>
   </div>
 </div>
</section>
<!-- End breadcrumb -->

<!-- Start contact  -->
<section id="mu-contact">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="mu-contact-area">
        <!-- start title -->
        <div class="mu-title">
          <h2>Get in Touch</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut laboriosam corporis doloribus, officia, accusamus illo nam tempore totam alias!</p>
        </div>
        {% if author %}
        <div class="alert alert-primary" role="alert">
          Muito obrigado pela mensagem, {{ author }}!
        </div><br/>
        {% endif %}

        <!-- end title -->
        <!-- start contact content -->
        <div class="mu-contact-content">           
          <div class="row">
            <div class="col-md-6">
              <div class="mu-contact-left">
                <form action="{% url 'contact' %}" class="contactform" method="post">  
                  {% csrf_token %}                
                  <p class="comment-form-author">
                    <label for="author">Name <span class="required">*</span></label>
                    <input type="text" required="required" size="30" value="" name="author">
                  </p>
                  <p class="comment-form-email">
                    <label for="email">Email <span class="required">*</span></label>
                    <input type="email" required="required" aria-required="true" value="" name="email">
                  </p>
                  <p class="comment-form-url">
                    <label for="subject">Subject</label>
                    <input type="text" name="subject">  
                  </p>
                  <p class="comment-form-comment">
                    <label for="comment">Message</label>
                    <textarea required="required" aria-required="true" rows="8" cols="45" name="comment"></textarea>
                  </p>                
                  <p class="form-submit">
                    <input type="submit" value="Send Message" class="mu-post-btn" name="submit">
                  </p>        
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mu-contact-right">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7314.626336977881!2d-46.72946295488799!3d-23.557193433486923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5617b2ce78cd%3A0x4bace983313edccd!2sEscola%20Polit%C3%A9cnica%20da%20USP!5e0!3m2!1spt-BR!2sbr!4v1603223813249!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <!-- end contact content -->
       </div>
     </div>
   </div>
 </div>
</section>
<!-- End contact  -->

{% endblock %}